# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.env

# Model files (too large for GitHub)
backend/model/best_model.h5
backend/model/features.pkl

# Uploads
backend/uploads/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
